/**========================================================================
 *                           SECTIONS
 *========================================================================**/

/**--------------------------------------------
 *               DESKTOP
 *---------------------------------------------**/
/* Add .cg-default-padding to override. Useful for hero, header sections */
@media only screen and (min-width: 981px) {

    .cg-style.et_pb_section:not(.cg-default-padding) {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}


/**--------------------------------------------
 *               TABLET
 *---------------------------------------------**/
@media only screen and (max-width: 980px) and (min-width: 768px) {

    .cg-style.et_pb_section:not(.cg-default-padding) {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}


/**--------------------------------------------
 *               MOBILE
 *---------------------------------------------**/
@media only screen and (max-width: 767px) {

    .cg-style.et_pb_section:not(.cg-default-padding) {
        padding-top: 15%;
        padding-bottom: 15%;
    }
}




/**========================================================================
 *                           ROWS
 *========================================================================**/

/* Adds a bit of padding to the last row of each section, unless that row has .cg-default-padding */
.cg-style.et_pb_section .et_pb_row:last-child:not(.cg-default-padding) {
    padding-bottom: 3%;
}
